$primary-color: #2ba5df;
$secondary-color: #b08a1a;

$success-color: #2db67c;
$warning-color: #fdbe38;
$error-color: #ef6722;
$info-color: #6c757d;

$background-primary-color: #ececec;
$background-secondary-color: #000;
$background-tertiary-color: white;
$font-primary-color: #4f4f4f;
$font-secondary-color: white;
