@import '../../assets/scss/variables.scss';
:host {
  display: block;
  height: 100%;
  overflow: auto;
  background-color: $background-primary-color;
}
.no-history {
  display: flex;
  justify-content: center;
  margin-top: 30%;
  color: $font-primary-color;
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.status {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50% ;
  margin-left: 10px;

  &.success {
    background-color: $success-color;
  }
  &.error {
    background-color: $error-color;
  }
  &.warning {
    background-color: $warning-color;
  }
  &.info {
    background-color: $info-color;
  }
}

.list-card {
  margin: 1%;
  width: 48%;
  border-left: solid 5px;
  &.success {
    border-color: $success-color;
  }
  &.error {
    border-color: $error-color;
  }
  &.warning {
    border-color: $warning-color;
  }
  &.info {
   border-color: $info-color;
  }
}
.title {

  &.success {
    color: $success-color;
  }
  &.error {
    color: $error-color;
  }
  &.warning {
    color: $warning-color;
  }
  &.info {
    color: $info-color;
  }
}


.mat-card-title {
  font-size: 14px!important;
  display: flex;
  align-items: center;
  span {
   // color: $primary-color;
    width: calc(100% - 25px);
  }
}
.mat-card-image {
  img {
    width: 100% !important;
    margin: 0 !important;
  }
}

.bottom-card {
  display: flex;
  justify-content: flex-end;
}