@import '../../assets/scss/variables.scss';

.img-capture {
  width: 100%;
  margin-bottom: 20px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-dialog-title{
  display: flex!important;
  align-items: center;
  span {    
    width: calc(100% - 25px);
    font-size: 18px;
  }
}

.status {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50% ;
  margin-left: 10px;

  &.success {
    background-color: $success-color;
  }
  &.error {
    background-color: $error-color;
  }
  &.warning {
    background-color: $warning-color;
  }
  &.info {
    background-color: $info-color;
  }
}

.title {

  &.success {
    color: $success-color;
  }
  &.error {
    color: $error-color;
  }
  &.warning {
    color: $warning-color;
  }
  &.info {
    color: $info-color;
  }
}


span.key {
  color: $primary-color;
  text-transform: capitalize;
}