<h1 mat-dialog-title><span  class="title" [ngClass]="data.status">{{data.title}}</span>
  
  <!-- <div class="status {{data.status}}"></div> -->
</h1>
<div mat-dialog-content>
  <img class="img-capture" [src]="data.image" alt="">
  <div *ngFor="let info of data.response.infos">
    <span class="key">{{info.name}}</span> : <b>{{info.validField}}</b> <span *ngIf="info.invalidField"> [<span  class="invalid-field">{{info.invalidField}}</span>]</span>
</div>
<div>
  <br />
  <span class="key">Temps de réponse</span> : <b>{{data.responseTimes}}</b> ms
</div>
  <!-- <p>{{data.response | json}}</p> -->
</div>
<div class="mat-dialog-actions" mat-dialog-actions>
  <button class="close-btn"  tabindex="-1" mat-button mat-dialog-close mat-raised-button >
    Fermer
  </button>
</div>