<div class="container-mediadevice">
	<div class="content-camera d-flex flex-column align-items-center">
		<div class="camera-source ">
      <video #video class="vid" autoplay playsinline></video>
      <div #selection id="rectangle"></div>
      <button *ngIf="!isLandscapeMode" class="camera-btn" mat-fab (click)="capture()" color="primary" >
        <mat-icon>camera_alt</mat-icon>
      </button>
      <button *ngIf="isLandscapeMode" class="camera-btn-landscape" mat-fab (click)="capture()" color="primary" >
        <mat-icon>camera_alt</mat-icon>
      </button>
      <button *ngIf="!isLandscapeMode" class="reset-btn" mat-fab (click)="stopCamera(true)" color="primary" >
        <mat-icon>refresh</mat-icon>
      </button>
      <button *ngIf="isLandscapeMode"  class="reset-btn-landscape" mat-fab (click)="stopCamera(true)" color="primary" >
        <mat-icon>refresh</mat-icon>
      </button>

		</div>
		<div class="p-2" style="display:none">
			<canvas #canvas class="vid"></canvas>
    </div>
    <!-- <div class="p-2" *ngIf="activateSaveButton">
      <button (click)="save()" class="btn btn-primary save-btn">SAVE</button>
    </div> -->
	</div>
</div>

