@import '../../assets/scss/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  background-color: $background-secondary-color;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    width: inherit;
    justify-content: center;
    min-height: 1px;
    height: calc(100% - 40px);
}
.container-mediadevice {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  width: inherit;
  min-height: 1px;
  background: $background-secondary-color;
  overflow: hidden;
}
.content-camera {
  justify-content: center;
}

.vid {
margin: 0 auto;
 max-width: 570px ;
 width: 100%;
// height: 100%;
}

.camera-source {
position: relative;
margin: 0;
padding: 0;
}

.camera-btn {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
;
}

.camera-btn-landscape {
  position: absolute;
  right: 0;
  top: 50%;
  //transform: translateY(50%);
}

.reset-btn {
  position: absolute;
  top: 20px;
  left: 20px;
}

.reset-btn-landscape {
  position: absolute;
  left: 0;
  top: 50%;
 // transform: translateY(50%);
}

#rectangle {
  border: solid 1px yellow;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}