
<div class="menu">
    <a [routerLink]="['/inputdirect']" [routerLinkActive]="'active'">
      OPTION 1
    </a>
    <a [routerLink]="['/mediadevice']" [routerLinkActive]="'active'">
      OPTION 2
     </a>
</div>
<router-outlet>
</router-outlet>
<toaster-container [toasterconfig]="config"></toaster-container>
  <div #splashcreen class="splashscreen">
    <div class="logo">
      <img src="../assets/Saint-Gobain_logo.png" alt="">
      <span>PWA Capture</span>
    </div>
    <div class="containersp">
      <div class="progress2 progress-moved">
        <div class="progress-bar2"></div>
      </div>
    </div>

  </div>


