.pwa-capture {
  display: flex;
  flex-direction: column;
  height: 100%; 
  
  width: 100%;
  .menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 40px;
    border-bottom: solid 1px grey;
  }
}
.active {
  font-weight: bold;
}



.splashscreen {
  height: 100%;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    display: flex;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      margin-top: 10px;
      color: #224896;
    }
    img {
      //margin: auto;
    }
  }
  .containersp {
    height: 10%;
    margin-top: auto;
    width: 200px;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    .progress2 {
      border-radius: 30px;
      background-color: #fff;
    }
    .progress-bar2 {
      height: 18px;
      border-radius: 30px;
      transition: 0.4s linear;
      transition-property: width, background-color;
    }
    .progress-moved .progress-bar2 {
      background-color: #224896;
      animation: progress 3s ;
    }
  }
}

@keyframes progress {
  0% {
    width: 0%;
    background: #224896;
  }

  100% {
    width: 100%;
    background: #224896;
    box-shadow: 0 0 40px #224896;
  }
}

.loading {
  height: 100%;
  position: fixed;
  width: 100%;
  background: rgb(108 117 125 / 60%);
  z-index: 100;
  top: 0;
  cursor: pointer;
  .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .loading-loader {
      width: 200px;
      height: 200px;
      position: relative;
      #loader-1:before, #loader-1:after{
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 10px solid transparent;
        border-top-color: #224896;
      }
      
      #loader-1:before{
        z-index: 100;
        animation: spin 1s infinite;
      }
      
      #loader-1:after{
        border: 10px solid #ccc;
      }
    }

  }
  
}



@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}