<div class="pwa-capture">
  <div class="menu">
    <a [routerLink]="['/scan']" [routerLinkActive]="'active'"> SCAN </a>
    <a [routerLink]="['/list']" [routerLinkActive]="'active'"> LISTE </a>
    <button [ngClass]="{'logout-is-hidden': !authService.userIsLogged() }" class="logout" (click)="logout()"mat-icon-button>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
  <router-outlet class="outlet"></router-outlet>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>

<!--<div #splashcreen class="splashscreen">
  <div class="logo">
     <img src="./assets/Saint-Gobain_logo.png" alt=""> 
    <span>PWA Capture</span>
  </div>
  <div class="containersp">
    <div class="progress2 progress-moved">
      <div class="progress-bar2"></div>
    </div>
  </div>
</div>-->

<div class="loading" *ngIf="loadingService.isLoading">
  <div class="loading-content">
    <div class="loading-loader">
      <div class="loader" id="loader-1"></div>
    </div>
  </div>
</div>
