.container {
  height: 100%;
  min-height: calc(100vh - 40px);
}

.first-photo {
  display: flex;
  width: 100%;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  height: 100%;
  flex: 1;
}

.cropper-wraper {
  display: flex;
  flex-direction: column;

  .cropper-wraper-top {
    padding: 5px;
    .toolbar {
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;
      padding: 5px;
      background: lightgrey;
      margin-bottom: 10px;
    }
    .top {
      position: relative;
      .rotate-left-btn,
      .rotate-right-btn,
      .zoom-in-btn,
      .zoom-out-btn,
      .rotation-input {
        // position: absolute;
        // z-index: 1000;
      }
      .rotate-left-btn{
        left: 0;
        top: 0
      } 
      .rotate-right-btn {
        right: 0;
        top: 0
      }
      .zoom-in-btn {
        bottom: 0;
        right: 60px;
      }
      .zoom-out-btn {
        bottom: 0;
        right: 0;
      }
  
      .rotation-input {
        bottom: 0;
        left: 0;
      }
    }
    .bottom {
      margin-top: 10px;
      .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
        margin: 0;
      }
    }
  } 
  .cropper-wraper-bottom {
    margin-top: 10px;
    span {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
    };
    .result-crop {
      width: 100%;
    }
    .bottom-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      width: 100%;
      height: 60px;
    
      .save-btn {
        margin-right: 10px;
      }
    }
  }
}

input[type="file"] {
  display: none;
}