@import '../../assets/scss/variables.scss';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-inputdirect {
  display: flex;
  flex-direction: column;
  height: 100%;
  .logo {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 90%;
    flex: 2;
  }
  .first-photo {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 10%;
    flex: 1;
  }
  .blank-bottom{
    flex: 1;
  }
  .cropper-wraper {
    display: flex;
    flex-direction: column;
    background: $background-primary-color;
    .cropper-wraper-top {
      padding: 5px;
      background: $background-primary-color;
      .toolbar {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        padding: 5px;
        background: lightgrey;
        margin-bottom: 10px;
      }
      .top {
        position: relative;
        display: flex;
        // .scroll-left,
        // .scroll-right {
        //   display: block;
        //   width: 10px;
        //   background-color: #4051b5;
        //   align-self: stretch;
        //   border-radius: 5px;
        // }

        // .rotate-left-btn,
        // .rotate-right-btn,
        // .zoom-in-btn,
        // .zoom-out-btn,
        // .rotation-input {
        //    position: absolute;
        //    z-index: 1000;
        // }
        .rotate-left-btn{
          left: 0;
          top: 0
        } 
        .rotate-right-btn {
          right: 0;
          top: 0
        }
        .zoom-in-btn {
          bottom: 0;
          right: 60px;
        }
        .zoom-out-btn {
          bottom: 0;
          right: 0;
        }
    
        .rotation-input {
          bottom: 0;
          left: 0;
        }
      }
      .bottom {
        margin-top: 10px;
        .row {
          display: flex;
          justify-content: space-around;
          align-items: center;
          align-content: center;
          width: 100%;
          margin: 0;
        }
      }
    } 
    .cropper-wraper-bottom {
      margin-top: 10px;
      max-width: 540px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
    //  height: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: center;
      min-height: 1px;
      background: #ececec;
      span {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        color: $font-primary-color;
      };
      .result-crop {
        width: 100%;
      }
      .bottom-bar {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 100%;
        min-height: 80px;
      
        .save-btn {
          margin-right: 10px;
        }
      }
    }
  }
}

input[type="file"] {
  display: none;
}

